<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.NETWORK_PROVIDER" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />


    <application
        android:name="com.livestreaming.mylive.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2787632649328212~9516536598" />
        <activity android:name="com.livestreaming.mylive.activity.CustomErrorActivity"
            android:exported="false"
            />
        <activity
            android:name="com.livestreaming.mylive.activity.LauncherActivity"
            android:exported="true"
            android:theme="@style/LauncherAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="XG_SERVER_SUFFIX"
            android:value="${XG_SERVER_SUFFIX}" />

        <meta-data
            android:name="XG_SERVICE_PULL_UP_OFF"
            android:value="true" />


        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="dona_new_channel" />
        <receiver
            android:name="com.livestreaming.im.tpns.TpnsReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.tencent.android.xg.vip.action.PUSH_MESSAGE" />
                <action android:name="com.tencent.android.xg.vip.action.FEEDBACK" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.livestreaming.mylive.notification_service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <provider
            android:name="com.tencent.android.tpush.XGPushProvider"
            android:authorities="com.livestreaming.mylive.tpush.XGVIP_PUSH_AUTH"
            android:exported="false"
            tools:replace="android:authorities" />
        <!--  tpns 如需兼容 Android P，需要添加使用 Apache HTTP client 库   -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!-- 腾讯tpns推送 end-->


        <!--百度语音识别-->
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="${baiduAppId}" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="${baiduAppKey}" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="${baiduAppSecretKey}" />

        <service
            android:name="com.baidu.speech.VoiceRecognitionService"
            android:exported="false" />

        <meta-data
            android:name="SERVER_HOST"
            android:value="${serverHost}" />
        <meta-data
            android:name="com.openinstall.APP_KEY"
            android:value="${openinstallAppKey}" />

    </application>

</manifest>